 {% comment %}
      aspenfactor.com(atlantic-16.1-Os-2.0)
      In theme.liquid file
  {% endcomment %}
  {% liquid
    if settings.index_show_black_logo and template == 'index'
      assign show_black_logo = true
    elsif settings.product_show_black_logo and template.name == 'product'
      assign show_black_logo = true
    elsif settings.collection_show_black_logo and template.name == 'collection'
      assign show_black_logo = true
    elsif settings.collections_list_show_black_logo and template == 'list-collections'
      assign show_black_logo = true
    elsif settings.cart_show_black_logo and template == 'cart'
      assign show_black_logo = true
    elsif settings.search_show_black_logo and template == 'search'
      assign show_black_logo = true
    elsif settings.four_zero_four_show_black_logo and template == '404'
      assign show_black_logo = true
    elsif settings.customers_show_black_logo and template.directory == 'customers'
      assign show_black_logo = true
    elsif page.metafields.custom.show_black_logo
      assign show_black_logo = true
    elsif blog.metafields.custom.show_black_logo
      assign show_black_logo = true
    elsif article.metafields.custom.show_black_logo
      assign show_black_logo = true
    endif
  %}
  {% if show_black_logo %}
  <style>
    body .store-logo  span.white {
      display: none;
    }
    body .store-logo span.black {
      display: block !important;
    }
  </style>
  {% endif %}

 {% comment %}
   In header file
 {% endcomment %}
 {% if second_logo != blank %}
      <span class="black" style="display:none;">
        {%
          render 'rimg'
          img: second_logo,
          alt: shop.description,
          size: '800x800',
          focal_point: logo.presentation.focal_point,
        %}
      </span>
    {% endif %}
    <span class="white">
      {%
        render 'rimg'
        img: logo,
        alt: shop.description,
        size: '800x800',
        focal_point: logo.presentation.focal_point,
      %}
    </span>
 {% comment %}
   In settings.schema
 {% endcomment %}
  {
    "name": "Logo Color",
    "settings": [
      {
        "type": "header",
        "content": "Home Page"
      },
      {
        "type": "checkbox",
        "label": "Show Black Logo",
        "id": "index_show_black_logo",
        "default": false
      },
      {
        "type": "header",
        "content": "Product Page"
      },
      {
        "type": "checkbox",
        "label": "Show Black Logo",
        "id": "product_show_black_logo",
        "default": true
      },
      {
        "type": "header",
        "content": "Collection Page"
      },
      {
        "type": "checkbox",
        "label": "Show Black Logo",
        "id": "collection_show_black_logo",
        "default": true
      },
      {
        "type": "header",
        "content": "Collections List Page"
      },
      {
        "type": "checkbox",
        "label": "Show Black Logo",
        "id": "collections_list_show_black_logo",
        "default": true
      },
      {
        "type": "header",
        "content": "Cart Page"
      },
      {
        "type": "checkbox",
        "label": "Show Black Logo",
        "id": "cart_show_black_logo",
        "default": true
      },
      {
        "type": "header",
        "content": "Search Page"
      },
      {
        "type": "checkbox",
        "label": "Show Black Logo",
        "id": "search_show_black_logo",
        "default": true
      },
      {
        "type": "header",
        "content": "404 Page"
      },
      {
        "type": "checkbox",
        "label": "Show Black Logo",
        "id": "four_zero_four_show_black_logo",
        "default": true
      },
      {
        "type": "header",
        "content": "Customers Account Page"
      },
      {
        "type": "checkbox",
        "label": "Show Black Logo",
        "id": "customers_show_black_logo",
        "default": true
      }
    ]
  },
